<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
    <title>Sign Up</title>
  </head>
  <body>
  <header>
    <div class="header-icons">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'img/logo.png' %}"></a>
        <div class="snsIcons">
          <a href="https://twitter.com/TATSUYA_NISATO"><img class="snsIcon" src="{% static 'img/twitter.png' %}"></a>
          <a href="https://www.facebook.com/profile.php?id=100049389249541"><img class="snsIcon" src="{% static 'img/facebook.png' %}"></a>
          <a href="https://github.com/ni-m-ta"><img class="snsIcon" src="{% static 'img/github.png' %}"></a>
          <a href="{% url 'Login' %}"><img class="snsIcon" src="{% static 'img/login.png' %}"></a>
       </div>
    </div>
    <div class="header-options">
      <a class="header-option">授業の様子</a>
      <a class="header-option">教授の様子</a>
      <a class="header-option">授業を評価</a>
      <a class="header-option">教授を評価</a>
    </div>
  </header>
    <div class="top-reg">
        <div class="container">
        <h1>アカウント作成</h1>

        {% if AccountCreate %}
            <h1>Successfully done!</h1>

        {% else %}
           <div class="reg">
            <table class="reg_form">
                <form enctype="multipart/form-data" method="post">
                   {% csrf_token %}
                   {{ account_form.as_table }}
                   {{ add_account_form.as_table }}
                   <tr><td></td><td>
                   <input class="btn" type="submit" name="" value="Sign up">
                   </td></tr>
                </form>
                </table>
            </div>
        {% endif %}
        </div>
    </div>
    <footer>
      <div class="footer-containter container">
        <div class="footer-options">
          <a class="footer-option">Privacy Policy</a>
          <a class="footer-option">Contact Form</a>
          <a class="footer-option">Site Map</a>
        </div> 
        <p class="copyright">&COPY; Tatsuya Nisato</p>
      </div>
    </footer>
  </body>
</html>