.each-option{
    height: 10%;
    width: 80%;
    margin: 10 auto;
    background-color: rgb(225, 225, 225);
    display: inline-block;
}

.clear{
    border: 2px solid black;
    padding: 0 7px;
}

.search-btns{
    margin: 10px 0;
}

.temp-flex{
    width: 100%;
    height: 0;
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .each-option{
        width: 100%;
    }

    .search-btns{
        display: flex;
        flex-wrap: wrap;
        line-height: 43px;
        gap: 0px 10px;
    }
}


