body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
    padding-top: 130px;
  }
  
  a {
    text-decoration: none;
  }

  ul{
    margin: 0 auto;
    padding: 0;
  }

  header{
    width: 100%;
    height: 150px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
  }

    .header-icons{
        display: flex;
        justify-content: space-between;
    }

      .logo{
        height: 100px;
        width: auto;
        position: fixed;
        top: 0;
        left: 10px;
      }

      .snsIcons{
        width: 200px;
        height: 100px;
        float: right;
        color: rgb(70, 70, 70);
      }

      .snsIcon{
        padding-top: 10px;
        padding-right: 5px;
      }
    
    .header-options{
      height: 50px;
      width: 75%;
      margin: 0 auto;
    }

      .header-option{
        height: 50px;
        width: 100px;
        display: flex;
        justify-content: space-around;
      }