{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}"/>
<div class="container">
    <h1>ユーザー登録</h1>
    <div class="top-sign">
        <section>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">登録</button>
            </form>
        </section>
    </div>
</div>

{% endblock %}