<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ECAP</title>
  </head>
  <body>
    <header>
        <div class="header-icons">
            <a><img class="header-logo" src="{% static 'img/logo.png' %}"></a>
        </div>
        <div class="header-snsIcons">
          <a href="https://twitter.com/TATSUYA_NISATO">twitter</a>
       </div>
    </header>
  </body>
</html>