{% extends 'layout.html' %}

{% block content %}
{% load static %}
<div class="container">
    <h1 class="mt-3 mb-4">{{ article.title }}</h1>
    <div>
        <p>大学名: {{ article.college }}</p>
        <p>教授名: {{ article.professor }}</p>
        <p>満足度(1:不満足~5:満足): {{ article.satisfaction }}</p>
        <p>厳しさ(1:優しい~5:厳しい): {{ article.hard }}</p>
        <p>出席: {{ article.attendance }}</p>
        <p>投稿内容: {{ article.comment }}</p>
        <p>{{ article.author }}</p>
        <p>{{ article.created_at|date:"Y-m-j H:j:s" }}<br>
            {{ article.updated_at|date:"Y-m-j H:i:s" }}
        </p>
    </div>
    <div class="mt-4">
        {% if request.user.id == object.author_id %}
        <a href="{% url 'professors:update' article.pk %}" class="btn btn-outline-primary mr-2">編集</a>
        {% endif %}
        <a href="{% url 'professors:index' %}" class="btn btn-outline-primary">一覧に戻る</a>
        {% if request.user.id == object.author_id %}
        <a href="{% url 'professors:delete' article.pk %}" class="btn btn-danger ml-5">削除</a>
        {% endif %}
    </div>
</div>

{% endblock %}