{% extends 'layout.html' %}

{% block content %}
{% load static %}
<div class="container">
    <h1 class="mt-3 mb-4">{{ professor_detail.name }}</h1>
    <div>
        <p>大学名: {{ professor_detail.college }}</p>
        <p>教授名: {{ professor_detail.name }}</p>
        <p>平均満足度: {{ savg }}</p>
        <p>平均厳しさ度: {{ havg }}</p>
    </div>
    <div>
        {% for evaluation in professor_detail.evaluation_names.all %}
        <p>満足度(1:不満足~5:満足): {{ evaluation.satisfaction }}</p>
        <p>厳しさ(1:優しい~5:厳しい): {{ evaluation.hard }}</p>
        <p>出席: {{ evaluation.attendance }}</p>
        <p>投稿内容: {{ evaluation.comment }}</p>
        <p>{{ evaluation.author }}</p>
        <p>{{ evaluation.created_at|date:"Y-m-j H:j:s" }}<br>
            {{ evaluation.updated_at|date:"Y-m-j H:i:s" }}
        </p>
        {% if request.user.id == evaluation.evaluator_id %}
        <a href="{% url 'professors:update2' pk=evaluation.pk %}" class="btn btn-long">評価を更新</a>
        <a href="{% url 'professors:delete' pk=evaluation.pk %}" class="btn btn-delete">削除</a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="mt-4">
        <a href="{% url 'professors:create2' %}" class="btn btn-long">評価を追加</a>
        <a href="{% url 'professors:list' %}" class="btn btn-long">一覧に戻る</a>
    </div>
</div>

{% endblock %}