{% extends 'layout.html' %}

{% block content %}
{% load static %}
<div class="container">
    <h1 class="mt-3 mb-4">教授評価一覧</h1>

    <form action="" method="get" class="">
        <div class="">
            <div class="">
                <input name="query" value="{{ request.GET.query }}" type="text" class="">
                <div class="">
                    <button type="submit" class="submit btn">検索する</button>
                    <a href="./" class="submit btn">クリア</a>
                    <input type="checkbox" name="college" value="1" class="">大学名
                    <input type="checkbox" name="name" value="2" class="">教授名
                </div>
            </div>
        </div>
    </form>
    <table class="#">
        <tr>
            <th>大学名</th>
            <th>教授名</th>
        </tr>
        {% for professor in professor_list %}
        <tr>
            <td>{{ professor.college }}</td>
            <td><a href="detail/{{ professor.id }}">{{ professor.name }}</a></td>
        </tr>
        {% endfor %}
    </table>

    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'professors:create' %}" class="btn btn-outline-primary">評価する教授を追加する</a>
    </p>
    {% endif %}
</div>
{% endblock %}