{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/each-option.css' %}" />
<div class="container">
    <h1 class="mt-3 mb-4">教授評価一覧</h1>

    <form action="" method="get" class="">
        <div class="">
            <div class="">
                <input name="query" value="{{ request.GET.query }}" type="text" class="">
                <div class="search-btns">
                    <button type="submit" class="btn submit">検索する</button>
                    <a href="./" class="btn clear">クリア</a>
                    <div class="temp-flex"></div>
                    <input type="checkbox" name="college" value="1">大学名
                    <input type="checkbox" name="name" value="2">教授名
                </div>
            </div>
        </div>
    </form>
    <table class="each-option">
        <tr>
            <th>大学名</th>
            <th>教授名</th>
            <th>評価開始日</th>
        </tr>
        {% for professor in professor_list %}
        <tr>
            <td>{{ professor.college }}</td>
            <td><a href="detail/{{ professor.id }}" class="char-b">{{ professor.name }}</a></td>
            <td>{{ professor.updated_at|date:"Y-m-j" }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'professors:create' %}" class="btn btn-long">評価する教授を追加する</a>
    </p>
    {% endif %}
</div>
{% endblock %}