{% extends 'layout.html' %}

{% block content %}
{% load static %}
<div class="container">
    <h1>授業評価の削除</h1>
    <p>以下の投稿を削除しますか?</p>
    <p>{{ article.content }}</p>
    <p>{{ article.user_name }}</p>
    <p>{{ article.author }}</p>
    <p>{{ article.created_at|date:"Y-m-j H:i:s" }}</p>
    <p>{{ article.updated_at|date:"Y-m-j H:i:s" }}</p>

    <form action="" method="post">
        {% csrf_token %}
        <a href="JavaScript:history.back()" class="btn btn-outline-primary">削除しないで戻る</a>
        <button type="submit" class="submit delete btn btn-danger">削除する</button>
    </form>
</div>

{% endblock %}