{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/each-option.css' %}" />
<div class="container">
    <h1 class="mt-3 mb-4">授業評価一覧</h1>

    <form action="" method="get" class="">
        <div class="">
            <div class="">
                <input name="query" value="{{ request.GET.query }}" type="text" class="">
                <div class="search-btns">
                    <button type="submit" class="btn submit">検索する</button>
                    <a href="./" class="btn clear">クリア</a>
                    <div class="temp-flex"></div>
                    <input type="checkbox" name="college" value="1">大学名
                    <input type="checkbox" name="course" value="2">授業名
                </div>
            </div>
        </div>
    </form>
    <table class="each-option">
        <tr>
            <th>大学名</th>
            <th>授業名</th>
            <th>最新評価日</th>
        </tr>
        {% for class in class_list %}
        <tr>
            <td>{{ class.college }}</td>
            <td><a href="detail/{{ class.id }}" class="char-b">{{ class.course }}</a></td>
            <td>{{ class.name }}</td>
            <td>{{ class.updated_at|date:"Y-m-j" }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'classes:create' %}" class="btn btn-long">評価する授業を追加する</a>
    </p>
    {% endif %}
</div>
{% endblock %}