{% extends 'layout.html' %}

{% block content %}
{% load static %}
<div class="container">
    <h1>{{ class_detail.course }}</h1>
    <div class="option-detail">
        <div>
            <p><span class="each-element">大学名: </span>{{ class_detail.college }}</p>
            <p><span class="each-element">授業名: </span>{{ class_detail.course }}</p>
            <p><span class="each-element">平均満足度: </span>{{ savg }}</p>
            <p><span class="each-element">平均厳しさ度: </span>{{ havg }}</p>
        </div>
        <div>
            {% for evaluation in class_detail.evaluation_courses.all %}
            <p><span class="each-element">満足度(1:不満足~5:満足): </span>{{ evaluation.satisfaction }}</p>
            <p><span class="each-element">厳しさ(1:優しい~5:厳しい): </span>{{ evaluation.hard }}</p>
            <p><span class="each-element">教科書: </span>{{ evaluation.textbook }}</p>
            <p><span class="each-element">出席: </span>{{ evaluation.attendance }}</p>
            <p><span class="each-element">評価コメント: </span>{{ evaluation.comment }}</p>
            <p><span class="each-element">評価日: </span>{{ evaluation.updated_at|date:"Y-m-j" }}</p>
            {% if request.user.id == evaluation.evaluator_id %}
            <a href="{% url 'classes:update2' pk=evaluation.pk %}" class="btn btn-long btn-de">評価を更新</a>
            <a href="{% url 'classes:delete' pk=evaluation.pk %}" class="btn btn-delete btn-de">削除</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mt-4">
        <a href="{% url 'classes:create2' %}" class="btn btn-long btn-de">評価を追加</a>
        <a href="{% url 'classes:list' %}" class="btn btn-long btn-de">一覧に戻る</a>
    </div>
</div>

{% endblock %}