{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

<div class="container">
   <h1>Contact Form</h1>
   <p>サイト管理者屋号: Tatsuya Nisato</p>
   <p>サイト管理者: 似里　達哉</p>
   <p>メール: tatsuyanisato@gmail.com</p>
   <p>電話番号: +81 80-3334-0911</p>
   <p>住所: アメリカ、カリフォルニア在中（留学中）</p>
   <p>管理者ブログ: https://nita-blog.site</p>
   <h3>各種SNSはこちらから</h3>
   <a href="https://twitter.com/TATSUYA_NISATO"><img class="snsIcon" src="{% static 'img/twitter.png' %}"></a>
   <a href="https://www.facebook.com/profile.php?id=100049389249541"><img class="snsIcon" src="{% static 'img/facebook.png' %}"></a>
   <a href="https://github.com/ni-m-ta"><img class="snsIcon" src="{% static 'img/github.png' %}"></a>
</div>

{% endblock %}