{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

<div class="container">
    <a href="{% url 'home:home' %}"><p>Home</p></a>
    <a href="{% url 'home:privacypolicy' %}"><p>Privacy Policy</p></a>
    <a href="{% url 'home:contactform' %}"><p>Contact Form</p></a>
    <a href="{% url 'professors:list' %}"><p>授業評価一覧</p></a>
    <a href="{% url 'classes:list' %}"><p>教授評価一覧</p></a>
    <a href="{% url 'logout' %}"><p>ログイン画面</p></a>
    <a href="{% url 'accounts/signup' %}"><p>新規会員登録画面</p></a>
</div>

{% endblock %}