body{
	background: rgb(233, 233, 233);
	text-align: center;
}
h1{
	background: white;
	width: auto;
	height: 60px;
	line-height: 60px;
}
a{
	color: white;
	display: inline-block;
	background: rgb(133, 23, 23);
	height: 50px;
	padding: 0 20px;
	line-height: 50px;
	text-decoration: none;
}
a:hover{
	background: rgb(133,23,23,0.3);
	transition: 0.5s;
}